[submodule "w3schools_replica"]
	path = w3schools_replica
	url = https://github.com/Ganesh2598/w3schools_replica
[submodule "newspaper_distribution"]
	path = newspaper_distribution
	url = https://github.com/Ganesh2598/newspaper_distribution
[submodule "Todo-app-with-ReactJS"]
	path = Todo-app-with-ReactJS
	url = https://github.com/Ganesh2598/Todo-app-with-ReactJS
[submodule "react-nodejs-express-postgres"]
	path = react-nodejs-express-postgres
	url = https://github.com/Ganesh2598/react-nodejs-express-postgres
[submodule "todoapp-with-heroku"]
	path = todoapp-with-heroku
	url = https://github.com/Ganesh2598/todoapp-with-heroku
[submodule "TODO-LIST-APP"]
	path = TODO-LIST-APP
	url = https://github.com/Ganesh2598/TODO-LIST-APP


[submodule "React-Infinite-Scroll"]
	path = React-Infinite-Scroll
	url = https://github.com/Ganesh2598/React-Infinite-Scroll
[submodule "infinite-scroll-using-hooks"]
	path = infinite-scroll-using-hooks
	url = https://github.com/Ganesh2598/infinite-scroll-using-hooks.git
[submodule "Role-based-Authentication"]
	path = Role-based-Authentication
	url = https://github.com/Ganesh2598/Role-based-Authentication.git
[submodule "session-based-authentication"]
	path = session-based-authentication
	url = https://github.com/Ganesh2598/session-based-authentication.git
[submodule "todoapp-using-angular"]
	path = todoapp-using-angular
	url = https://github.com/Ganesh2598/todoapp-using-angular.git
[submodule "angular-project"]
	path = angular-project
	url = https://github.com/Ganesh2598/angular-project
[submodule "CRUD_operation_in_Golang"]
	path = CRUD_operation_in_Golang
	url = https://github.com/Ganesh2598/CRUD_operation_in_Golang
[submodule "Chatson_using_react_and_golang"]
	path = Chatson_using_react_and_golang
	url = https://github.com/Ganesh2598/Chatson_using_react_and_golang
[submodule "webpack_cra"]
	path = webpack_cra
	url = https://github.com/Ganesh2598/webpack_cra
