[submodule "w3schools_replica"]
	path = w3schools_replica
	url = https://github.com/Ganesh2598/w3schools_replica
[submodule "newspaper_distribution"]
	path = newspaper_distribution
	url = https://github.com/Ganesh2598/newspaper_distribution
[submodule "Todo-app-with-ReactJS"]
	path = Todo-app-with-ReactJS
	url = https://github.com/Ganesh2598/Todo-app-with-ReactJS
[submodule "TODO-LIST-APP"]
	path = TODO-LIST-APP
	url = https://github.com/Ganesh2598/TODO-LIST-APP.git
[submodule "react-nodejs-express-postgres"]
	path = react-nodejs-express-postgres
	url = https://github.com/Ganesh2598/react-nodejs-express-postgres


[submodule "React-Infinite-Scroll"]
	path = React-Infinite-Scroll
	url = https://github.com/Ganesh2598/React-Infinite-Scroll
